[docker-ce]
name=Docker CE - $basearch
baseurl={{ ((ansible_distribution | lower) == 'redhat') | ternary(docker_rhel_repo_url, docker_centos_repo_url) }}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/GPG-KEY-docker
