#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{{ ansible_managed | comment }}
{% macro render_section(options) %}
{%   for key, value in options|dictsort() %}
{%     if value is list %}
{{ key }} = {{ value | join(',') }}
{%     elif value is boolean %}
{{ key }} = {{ value | ternary('true', 'false') }}
{%     else %}
{{ key }} = {{ value }}
{%     endif %}
{%   endfor %}
{% endmacro %}

#
# /etc/idmapd.conf - see idmapd.conf(5) for details
#

[General]
{{ render_section(cfg.general | default({})) }}


[Mapping]
{{ render_section(cfg.mapping | default({})) }}


[Translation]
{{ render_section(cfg.translation | default({})) }}


[Static]
{{ render_section(cfg.static | default({})) }}


[UMICH_SCHEMA]
{{ render_section(cfg.umich_schema | default({})) }}
